@import '../../../variablesScss/';

.home {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  &_title {
    width: 100%;
    font-family: Playfair Display;
    color: $colorEggplant;
    font-size: 13rem;
    font-weight: 400;
    margin: 0;
    line-height: 213px;
    text-align: left;

    @media (max-width: 850px) {
      line-height: 60px;
    }
  }

  &_modifier_text {
    width: 100%;
    align-self: flex-end;
  }

  &_subtitle {
    width: 14%;
    font-family: $fontFamMonts;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 4.2rem;
    color: rgba(99, 103, 140, 1);
  }

  &_text {
    font-family: $fontFamMonts;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 3.1rem;
    color: $colorGrey;
  }

  &_wrapper {
    width: 25%;
    margin-left: 10rem;
    z-index: 3;

    & p:first-child {
      margin-bottom: 30px;
    }

    & p:nth-child(2) {
      margin-bottom: 10px;
    }

    & p:nth-child(3) {
      margin-bottom: 20px;
    }

    & button:nth-child(4) {
      margin-bottom: 20px;
    }
  }

  &_text_span {
    font-family: $fontFamMonts;
    font-size: 1.8rem;
    font-weight: 700;
    color: $colorEggplantGrey;
  }

  &_button {
    width: 17rem;
    height: 4rem;
    font-size: 1.4rem;
    background-color: $colorEggplant;
    color: white;
    border: 0;
    border-radius: 10px;
  }

  &_holder {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    position: relative;
  }

  &_text_desc {
    font-family: Work Sans;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.9rem;
    color: $colorGrey;
    text-align: right;
    letter-spacing: 0.3em;
    margin-bottom: 10rem;
  }

  &_text_desc_last {
    position: absolute;
    bottom: -14rem;
    font-family: $fontFamMonts;
    font-size: 3.3rem;
    font-weight: 300;
    line-height: 3.9rem;
    color: rgba(117, 122, 165, 1);
    margin-bottom: 0;
    padding-left: 20rem;
  }

  &_img_branch {
    width: 60rem;
    position: absolute;
    top: 27rem;
    left: -19rem;

    @media (max-width: 1440px) {
      top: 35rem;
    }

    @media (max-width: 1024px) {
      top: 48rem;
    }

    @media (max-width: 850px) {
      top: 18rem;
    }
  }

  &_img_dandelion {
    width: 140rem;
    position: absolute;
    top: -10rem;
    right: -13rem;
    z-index: 2;
  }
}
