@import '../../../../variablesScss';

.description {
    width: 36rem;
  &_title {
    font-family: $fontFamMonts;
    font-size: 4rem;
    font-weight: 200;
    line-height: 7.7rem;
    color: rgba(117, 122, 165, 1);
    margin-bottom: 0;
    margin-top: 0;
  }

  &_text {
    font-family: $fontFamMonts;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.4rem;
    color: rgba(136, 135, 148, 1);
    margin-bottom: 4rem;
  }
}
